# Node
server/node_modules/
server/.env

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.metadata

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db